*.o
*.pyc
*.swp
.DS_Store
.sconf_temp/
.sconsign.dblite
.tags
build
config.log
tools/benchmarks/benchmarks_results.html
tools/benchmarks/engines/pcre/engine
tools/benchmarks/engines/pcre/svn.pcre/
tools/benchmarks/engines/re2/engine
tools/benchmarks/engines/re2/hg.re2/
tools/benchmarks/engines/rejit/engine
tools/benchmarks/resources/html/flot/
