*.o
*.pyc
*.swp
.sconsign.dblite
.tags
.DS_Store
.sconf_temp/
build
config.log
html/resources/flot/
tools/benchmarks/resources/engines/pcre/engine
tools/benchmarks/resources/engines/pcre/svn.pcre/
tools/benchmarks/resources/engines/re2/engine
tools/benchmarks/resources/engines/re2/hg.re2/
tools/benchmarks/resources/engines/rejit/engine
tools/benchmarks/resources/results.html/flot/
